[submodule "A3700-utils-marvell"]
	path = A3700-utils-marvell
	url = https://github.com/MarvellEmbeddedProcessors/A3700-utils-marvell.git
[submodule "atf-marvell"]
	path = atf-marvell
	url = https://github.com/ARM-software/arm-trusted-firmware.git
[submodule "mv-ddr-marvell"]
	path = mv-ddr-marvell
	url = https://github.com/MarvellEmbeddedProcessors/mv-ddr-marvell.git
[submodule "u-boot"]
	path = u-boot-marvell
	url = https://github.com/u-boot/u-boot.git
